:root {
    --color-accet:#FF6C00;
    --color-text: #555555;
    --color-titel-text: #303030;
    --color-overtitel: rgba(157, 164, 189, 0.6);
    --card-set-gap: 30px;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
    margin: 0;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.page {
    color: var(--color-text);

    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.66;
    letter-spacing: 0.2em;
}

.titel-h2 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 42px;
    line-height: 1.16;
    letter-spacing: 0.05em;
}

.cotainer {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.section {
    padding: 130px 55px;

} 
/*Heder*/

.cotainer .heder-container {
    display: flex;
}

.heder-container {
    display: inline-block;
    align-items: center;
    margin-top: 32px;
}

.logo {
    align-items: center;
    margin-left: 54px;
    margin-right: 70px;
}

.nav-list {
    display: flex;
    align-items: center;
    color: black;


    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
}

.heder-container .item:not(:last-child) {
    margin-right: 40px;
}

.nav-list .link:hover,
.nav-list .link:focus {
    color: var(--color-accet);
}

.phone {
    margin-left: auto;
    margin-right: 40px;
    color: black;

    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.1em;
}

.phone:hover,
.phone:focus {
    color: var(--color-accet);
}


/*Button*/

.button {
    padding: 12px 20px;
    border: 1px solid transparent;
    border-radius: 25px;
    min-width: 160px;
    background: transparent;

    cursor: pointer;

    font-family: 'Open Sans';
    font-weight: 600;
    font-size: 12px;
    line-height: 1.33;
    letter-spacing: 0.09em;
} 

.button:hover,
.button:focus {
    color: #FFFFFF;
    background-color: var(--color-accet);
}

.first-bnt {
    color: #FFFFFF;
    border: 1px solid var(--color-accet);
}

.secondar-btn {
    color: #303030;
    border: 1px solid var(--color-accet);
}

/*Hero*/

.hero-title {
    margin-bottom: 20px;
    color: #FFFFFF;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 72px;
    line-height: 1.18;
    letter-spacing: 0.05em;
}

.hero-text {
    color: #9DA4BD;
}

.overtitel {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    color: var(--color-overtitelt);

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.overtitel::before {
    display: block;
    margin-right: 40px;
    width: 60px;
    height: 1px;
    background-color: #303030;
    content: "";
}

.hero .list {
    display: flex;
    color: #303030;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.2em;
}

.hero .list::before {
    margin-bottom: 40px;
    width: 1px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    background-color: #303030;
    content: "";
}

.social-link {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36px;
    color: #303030;
}

.social-link:hover,
.social-link:focus {
    color: var(--color-accet);
}

.sidebar {
    display: flex;
    flex-direction: column;
    writing-mode: vertical-lr;
    width: 153px;
    height: 560px;
    padding-left: 81px;
}

.sidebar .list {
    display: flex;
    padding-top: 40px;
    transform: rotate(180deg);
}

.hero-right-side {
    padding-top: 184px;
    padding-left: 98px;
    background-image: url(../img/slider-1.jpg);
    width: 1070px;
    height: 680px;
    background-size: cover;
    background-repeat: no-repeat;
}

.hero > .cotainer {
    display: flex;
}

.hero .item:not(:last-child) {
    margin-bottom: 40px;
}

.sidebar > .list {
    padding-bottom: 40px;
}
/*About*/
.about .section,
.about .list {
    display: flex;
}

.about .item + .item {
    margin-left: 30px;
}

.about-box {
    width: 500px;
    margin-left: 64px;
}

.about .overtitel {
    color: var(--color-titel-text);
}

.about-titel {
    margin-bottom: 20px;
    color: var(--color-titel-text);
}

.about-text {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 14px;
    line-height: 1.85;
}

/*Services and prices*/
.services {
    background: #111319;
}

.services .section {
    background-image: url(../img/servis-bg.png);
    background-size: cover;
}
.services-titel {
    margin-top: 20px;
    margin-bottom: 44px;
    color: #FFFFFF;
}

.services-card {
    display: flex;
    margin-bottom: 50px;
}
.card-one {
    padding: 30px 40px;
    width: 585px;
    background-image: linear-gradient(180deg, #171A24 0%, rgba(23, 26, 36, 0.2) 100%);
}

.card-one .item {
    display: flex;
    justify-content: space-between;
}

.card-two {
    padding: 30px 40px;
    width: 585px;
    background-image: linear-gradient(180deg, #090B13 0%, rgba(9, 11, 19, 0.2) 100%);
}

.card-two .item {
    display: flex;
    justify-content:space-between;
}

.services .button {
    display: block;
    margin: auto;
}

/*Advantages*/

.advant .overtitel {
    color: var(--color-titel-text);
}

.advant-titel {
    margin-bottom: 20px;
    color: var(--color-titel-text);
}

.advant-span {
    display: block;
    margin-top: 16px;
    color: var(--color-titel-text);

    font-weight: 700;
    font-size: 42px;
    line-height: 1.35;
    letter-spacing: 0.05em;
}

.advant-text {
    margin-top: 6px;
    color: #303030;

    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    text-align: center;
}

.advant .cotainer {
    display: flex;
}

.advant-box {
    width: 500px;
    margin-left: auto;

}
.advant .list {
    display: flex;
    flex-direction: row;
    flex-basis: calc(100% / 2);
    flex-wrap: wrap;

}

.advant-card {
    display: flex;

    width: 170px;
    height: 133px;
    text-align: center;
    background-color: #F7F7F7;
}

.advant-card:nth-child(2n) {
    margin-top: 30px;
    margin-left: 30px;
}

.advant-card:nth-child(2n+1) {
    margin-left: 100px;
}

/*Our barbers*/

.barber {
    background-color: #F7F7F7;
}

.our-titel {
    margin-bottom: 44px;
    color: var(--color-titel-text);
}

.barber .overtitel {
    color: var(--color-titel-text);
}

.barber-titel {
    margin-top: 30px;
    margin-bottom: 8px;
    color: var(--color-titel-text);
    
    font-size: 18px;
    line-height: 1.38;
    text-align: center;
}

.our-text {
    color: var(--color-accet);
    margin-bottom: 30px;
    font-size: 18px;
    line-height: 1.38;
    text-align: center;
}

.barber .list {
   list-style: none;

   display: flex;
   flex-wrap: wrap;
   margin-left: calc(-1 * var(--card-set-gap));
}

.barber .item {
   flex-basis: calc(100% / 3 - var(--card-set-gap));
   margin-left: var(--card-set-gap);
}

.social-list {
   display: flex;
   padding-left: 82px;
   padding-right: 82px;
   justify-content: space-between;
}

.social-link-list {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 44px;
   height: 44px;
   background-color: #FFFFFF;
   border-radius: 50%;
}

.social-link-list:focus,
.social-link-list:hover {
   fill: var(--color-accet);
}

/*Portfolio*/

.portfolio .overtitel {
    margin-bottom: 44px;
    color: var(--color-titel-text);
}
.portfolio .list {
    display: flex;
    flex-wrap: wrap;
    margin-left: calc(-1 * var(--card-set-gap));
}

.portfolio .item {
    flex-basis: calc(100% / 4 - var(--card-set-gap));
    margin-left: var(--card-set-gap);
}

/*Adress*/
.adress {
    background-color: #191C26;
}

.adress .cotainer {
    display: flex;
    justify-content: center;
}

.adress .item {
    margin-right: auto;
    margin-left: auto;
    padding: 130px 50px;
    width: 625px;
}

.adress-contact {
    background-image: url(../img/adress-dg.png);
    height: 644px;
    width: 625px;
}
.adress-titel {
    margin-bottom: 40px;
    color: #FFFFFF;
    font-style: normal;
}

.adress-text {
    display: block;
    margin-bottom: 20px;
    color: #9DA4BD;
    font-style: normal;
}

.clock-titel{
    margin-top: 70px;
    margin-bottom: 20px;
    color: #FFFFFF;

    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    text-align: center;
}

.clock-text {
    color: #9DA4BD;
    text-align: center;
}
/*Footer*/

.footer {
    background-color: #F7F7F7;
}

.footer .cotainer {
    padding: 58px 55px;
}

.footer .cotainer, 
.footer .list{
    display: flex;
    justify-content: space-between;
}

.footer-text {
    font-weight: 600;
    font-size: 11px;
    line-height: 1.36;
    color: #9DA4BD;
}

.footer .item + .item {
    margin-left: 40px;
}